[ req ]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C = DE
ST = Berlin
L = Berlin
O = sytem:nodes
OU = "Kubernetes The Hard Way Stefan"
CN = "system:node:worker-{{ hostvars[item]['ansible_hostname'] }}"

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = worker-{{ hostvars[item]['ansible_hostname'] }}
IP.1 = {{ item }}
IP.2 = {{ hostvars[item]['ansible_default_ipv4']['address'] }}


[ v3_ext ]
authorityKeyIdentifier=keyid,issuer:always
basicConstraints=CA:FALSE
keyUsage=keyEncipherment,dataEncipherment
extendedKeyUsage=serverAuth,clientAuth
subjectAltName=@alt_names